.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 850px;
    height: 820px;
    border-radius: 1%;
    border: 1px solid black; 
    padding: 20px 50px;
}
#signup{
    position: relative;
    top:50px;
    left:6%;
    font-size:20px;
    background-color:rgba(9,31,64,1);
    color:white;
}
p{
    height: 40px;
    margin-top: 20px;
}
input{
    width: 282px;
    height: 44px;
    border:1px solid rgba(216,216,216,1);
    border-radius:8px;
}
td{
    height:70px;
    font-size: 20px;
}
table{
    position: relative;
    left:5%;
    top:100px;
}
#ex{
    font-size: 15px;
}
#button{
    position: relative;
    left: 50%;
    top: 160px;
    margin-left: -45px;
    color:white;
    width: 90px;
    height: 40px;
    background-color: rgba(9,31,64,1);
    border: 1px solid rgba(9,31,64,1);
    border-radius: 5rem;
    text-align: center;
    font-size: 15px;
}
