*{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color:black;
}
ul, ol{
    list-style-type: none;
    margin:0;
    padding:0;
}
header{
    height: 200px; 
    display: flex;
    justify-content: center;
}
header > #blank{
    width:390px;
}
header > #logo{
padding-top: 50px;
}
.mybox{
    width: 520px;
    height: 100px;
    margin-top: 40px;
    background-color:white;
    box-shadow: 0px 0px 10px #aaa;
    text-align:center;   
    line-height: 27px;
}
.mybox > div {
    display: inline-block;
    margin: 5px 2px;
}
.mybox > div:nth-child(2){
    margin: 0px 5px;
}
.container{
    display:flex;
    justify-content: center;
    border-bottom: 1px groove rgb(175, 173, 173) ;
}
@media(min-width:1358px){
.article {
    width:980px;
    height: 800px;
    display:inline-block;
    font-size: 15px;
    }
}
@media(max-width:1357px){
    .article {
        width:650px;
        display:inline-block;
        font-size: 15px;
    }
}
@media(max-width:1036px){
    .article {
        width:340px;
        display:inline-block;
        font-size: 15px;
    }
}
.article  > div{
    width: 280px;
    height: 280px;
    background-color: rgba(9,31,64,1);
    color: white;
    margin:10px;
    padding:35px 15px;
    float: left; 
    box-sizing: border-box; 
    border-radius: 1rem; 
    margin: 10px 20px;   
    box-shadow: 0px 0px 10px #aaa;  
}
.article>div:nth-child(1){
    padding-top: 48px;
    padding-left: 20px;
}
.article>div:nth-child(2){
    position: relative;
    background: url(view.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
}
.article>div:nth-child(n+4){
    position: relative;
    background: url(view.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    overflow: hidden;
}
.photo {
    background: url(view.png) center;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(5px); 
    -moz-filter: blur(5px); 
    -o-filter: blur(5px); 
    -ms-filter: blur(5px); 
    filter: blur(5px);
    z-index: -1;
}
.contentbox{
    height: 180px;
    text-align: center;
    z-index: 1;
}
.tabs{
    display: flex;
    flex-direction:row;
    justify-content:space-between;  /* 양쪽정렬 */
    margin-left:10px;
    width:230px;
    box-sizing: border-box;
    color:white;
}
.thumb{
    width:50px;
    line-height: 30px;
    display: flex;
    float: left;
}
#thumb_num{
    width: 30px;
    line-height: 30px;
}
#thumbimg{
    background: url(icon_thumb2.png) center;
    background-size: cover;
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
#thumbimg:hover{
    background: url(icon_thumb.png) center;
    background-size: cover;
    width: 20px;
    height: 20px;
}
nav {
    display: block;
    position: relative;
    width: 180px;
    height: 720px;
    overflow: visible;
    border-left-style: groove;
    border-bottom-style: groove;
    font-size: 19px;
}
nav > ul {
    width:180px;
    text-align: center;
}
nav > ul :hover .sub{
    left: 180px;
    display:inline-block;
    z-index: 100;
    transition-property: all;
    transition-delay: .5s;
}
.sub {
    display:none;
    position:absolute;
    padding: 0px;
    background-color:white;
    width: 80%;
    left: -0.5%;
    border: 0px;
}
nav li:hover{
    background-color:#ACBFD9;
}
nav li {
    display:block;
    padding: 0 30px;
    line-height: 60px;
    height:65.5px;
    /*border:1px solid black;*/
}
.sidebar{
    width:200px;
    height: 650px;
    box-sizing: border-box;
    text-align: center;
    font-size:19px;
}
.sidebar > div {
    margin-top:10px;
}
.sidebar li:hover{
    background-color:#ACBFD9;
}
#onlywhite:hover{
    text-decoration: none;
    background-color: white;
}
.search{
    width: 200px;
    height: 35px;
    fill: rgba(255,255,255,1);
    border-bottom:1px solid black;
    font-size: 20px;
}
#searchbox{
    display: inline-block;
}
input{
    border: 0px;
    width:140px;
    height: 28px;
    padding-left:3px;
    box-sizing: border-box;
    font-size: 17px;
}
#side1{
    margin-top: 20px;
    position: relative;
    width: 200px;
    height: 280px;
    overflow: visible;
}
#side2{
    width: 200px;
    height:220px;
}
#banner{
    width: 200px;
    height: 122px;
    overflow: visible;
    border-right-style: groove;
    border-bottom-style: groove;
    margin-top: 10px;
    text-align: center;
    overflow: hidden;
}
#banner img{
    transform: scale(1);
    -webkit-transform: scale(1);
}
#banner:hover img{
    transform: scale(1.1);
}
.button{
    background-color: white;
    border: 1px solid rgba(9,31,64,1);
    width: 90px;
    height: 27px;
    border-radius: 5rem;
    padding-top: 8px;
    padding-bottom: 3px;
    text-align: center;
    font-size: 15px;
}
.buttonlogout{
    background-color:  rgba(9,31,64,1);
    border: 1px solid rgba(9,31,64,1);
    width: 90px;
    height: 27px;
    border-radius: 5rem;
    padding-top: 8px;
    padding-bottom: 3px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 10px;
}
.buttonlogout >a{
    color:white;
}
.sidebar ul{
    border-right-style: groove;
    border-bottom-style: groove;
}
.sidebar li {
    display:block;
    padding: 15px;
}
footer{
    display: flex;
    float:right;
    padding: 20px;
}
.icon_list li{
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
}
