<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <title>홍익나우</title>
        <link rel="stylesheet" href="../static/css/view1.css"/>
        <script src="https://kit.fontawesome.com/ce4092c855.js" crossorigin="anonymous"></script>
        <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-shims.min.css" media="all" rel="stylesheet">
        <link href="https://kit-free.fontawesome.com/releases/latest/css/free-v4-font-face.min.css" media="all" rel="stylesheet">
        <link href="https://kit-free.fontawesome.com/releases/latest/css/free.min.css" media="all" rel="stylesheet">
        <script type="text/javascript">
            function testInnerHTML(){
                var str = '253';
                document.getElementById("thumb_num").innerHTML = str;
            }
        </script>
    </head>
    <body>
        <div class="wrap">
          <header>
                <span id="logo">
                    <a href="../template/main.html"><img src="../static/img/logo2.png" width="300"></a>
                </span>
                <!-- <div id="blank"></div> -->
                <span id="right">
                    <div class="mybox">
                            <div id="mytext" style="font-size: 15px"><strong>홍대생1</strong>님, 안녕하세요!</br></div>
                            <div>
                                <div class="button"><a href="../template/mypage.html">내 정보</a></div>
                                <div class="buttonlogout"><a href="../template/login.html">로그아웃</a></div>
                            </div>
                    </div>
                </span>
            </header>
          <div class="container">
              <div id="searchbox">
                  <input type="search" name="search" autofocus >
                  <a href=""><img src="../static/img/icon_search.png" width="20px"></a>
              </div>
                <nav>
                    <ul>
                    <li id="onlywhite"><strong>질문답변</strong></li>
                    <li>
                        <a href="" id="univ">공과대학</a>
                        <ul class="sub">
                            <li><a href="../template/viewposts.html" >토목</a></li>
                            <li><a href="../template/viewposts.html" >전전</a></li>
                            <li><a href="../template/viewposts.html" >컴공</a></li>
                            <li><a href="../template/viewposts.html" >산공</a></li>
                            <li><a href="../template/viewposts.html" >신소재</a></li>
                            <li><a href="../template/viewposts.html" >화공</a></li>
                            <li><a href="../template/viewposts.html" >기계</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" id="univ">건축대학</a>
                        <ul class="sub">
                            <li><a href="../template/viewposts.html">건축</a></li>
                            <li><a href="../template/viewposts.html">실건</a></li>
                            <li><a href="../template/viewposts.html">도시</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" id="univ">경영대학</a>
                        <ul class="sub">
                            <li><a href="../template/viewposts.html">경영</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" id="univ">문과대학</a>
                        <ul class="sub">
                            <li><a href="../template/viewposts.html">영문</a></li>
                            <li><a href="../template/viewposts.html">독문</a></li>
                            <li><a href="../template/viewposts.html">불문</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" id="univ">법과대학</a>
                        <ul class="sub">
                            <li><a href="../template/viewposts.html">법대</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" id="univ">사범대학</a>
                        <ul class="sub">
                            <li><a href="../template/viewposts.html">수교</a></li>
                            <li><a href="../template/viewposts.html">국교</a></li>
                            <li><a href="../template/viewposts.html">영교</a></li>
                            <li><a href="../template/viewposts.html">역교</a></li>
                            <li><a href="../template/viewposts.html">교육</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" id="univ">미술대학</a>
                        <ul class="sub">
                            <li><a href="../template/viewposts.html">동양</a></li>
                            <li><a href="../template/viewposts.html">회화</a></li>
                            <li><a href="../template/viewposts.html">판화</a></li>
                            <li><a href="../template/viewposts.html">조소</a></li>
                            <li><a href="../template/viewposts.html">목조</a></li>
                            <li><a href="../template/viewposts.html">예술</a></li>
                            <li><a href="../template/viewposts.html">금디</a></li>
                            <li><a href="../template/viewposts.html">도유</a></li>
                            <li><a href="../template/viewposts.html">섬디</a></li>
                            <li><a href="../template/viewposts.html">미자전</a></li>
                            <li><a href="../template/viewposts.html">시디</a></li>
                            <li><a href="../template/viewposts.html">산디</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" id="univ">경제학부</a>
                        <ul class="sub">
                            <li><a href="../template/viewposts.html">경제</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" id="univ">공연예술</a>
                        <ul class="sub">
                            <li><a href="../template/viewposts.html">뮤지컬</a></li>
                            <li><a href="../template/viewposts.html">실음</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="" id="univ">자율전공</a>
                        <ul class="sub">
                            <li><a href="../template/viewposts.html">자전</a></li>
                        </ul>
                    </li>
                    </ul>
                </nav>
                <div class="article">
                    <div class="content">
                        <span style="background-color:rgba(9,31,64,1); color: white;">질문답변>공과대학>컴퓨터공학과</span>
                        <div id="title">
                            <div id="maintitle">
                                <p>출력,입력함수 정리<span style="color: gray;">(8)</span></p>
                                <img src="icon_list.png" width="30px" height="30px" style="padding-right: 100px;">
                            </div>
                            <div id="postinfo">
                                <span>공감1 조회310 2020.07.30 15:11</span>
                                <div id="writerinfo">
                                    <img src="profile.png" width="24px">
                                    <span style="color: black; font-size: 15px; line-height:30px; margin-bottom:10px;">익익익명명명(자전)</span>
                                </div>
                            </div>
                        </div>
                        <div id="cbox">
                            표준 출력 함수
                        </br>printf() - 다양한 형태의 데이터를 출력하는 함수
                        </br>putchar() - 한 개의 문자를 출력하는 함수
                        </br>puts() - 문자열을 출력하는 함수
                        </br>
                        </br>표준 입력 함수
                        </br>scanf() - 다양한 형태의 데이터를 입력받는 함수
                        </br>getchat() - 한 개의 문자를 입력받는 함수
                        </br>gets() - 문자열을 입력받는 함수
                        </div>
                        <div class="tabs">
                            <div class="button">
                                <div class="thumb">
                                    <button id=thumbimg onclick="javascript:testInnerHTML();"></button>
                               <div id="thumb_num">252</div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="comment">
                        <input type="text" id="cmttxt">
                        <div class="buttons">
                            <label class="toggle">
                                <span class="center">
                                    <input type="checkbox" name="" id="yes" checked>
                                </span>
                            </label>
                            <div class="button">등록</div>
                        </div>
                    </div>
                    <div class="clist">

                    </div>
                </div>
                <div class="sidebar">
                  <div id="side1">
                        <li><img src="../static/img/profile.png" width="70px"></li>
                        <li id="pro_name"><strong>홍대생1</strong></li>
                        <div class="mine">
                          <ul>
                            <li><img src="../static/img/icon_write.jpg"></span>내가 쓴 글</li>
                            <li><img src="../static/img/icon_comment.png">댓글 단 글</li>
                            <li><img src="../static/img/icon_bookmark.png">내 스크랩</li>
                            <li><img src="../static/img/icon_like.jpg">내 좋아요</li>
                          </ul>

                        </div>
                  </div>
                  <div id="side2">
                      <ul>
                        <li id="onlywhite"><strong>커뮤니티</strong></li>
                        <li><a href="">자유게시판</a></li>
                        <li><a href="">장터게시판</a></li>
                        <li><a href="">맛집게시판</a></li>
                        <li><a href="">강의평가</a></li>
                      </ul>
                  </div>
                  <div id="banner">
                      <img src="../static/img/ad.png">
                  </div>
                </div>
          </div>
        </div>
      <footer>
        <div class="flist">
          <span> | </span> <span>이용약관</span> <span> | </span>
          <span>개인정보관리</span> <span> | </span>
          <span>커뮤니티이용규칙</span> <span> | </span>
          <span>공지사항</span> <span> | </span>
          <span>문의하기</span> <span> | </span>
          <span>ⓒ홍익나우</span> <span> | </span>
        </div>
        <!-- <ul class="icon_list">
            <div><a href="https://www.facebook.com/hongik1946"><img src="icon_facebook.png" width="43px" ></a></div>
            <div><a href="https://www.instagram.com/hongik_university/"><img src="icon_instagram.png" width="43px" ></a></div>
            <div><a href="https://cn.hongik.ac.kr/stud/"><img src="icon_classnet.png" width="43px" ></a></div>
        </ul> -->
      </footer>
    </body>
</html>
